<!-- templates/partials/item.html -->
<div class="col-sm-4 col-md-4 col-xs-12">
    <div class="col-sm-12 col-md-12 mt-4" onclick="location.href='store_item/{{ item._id }}';" style="cursor:pointer;" name = "id" value="{{ item._id }}">
    <div class="row" style="border:none; background:rgb(220, 244, 255);">
        <div class="col-sm-5 col-md-5 col-xs-12 image-container ml-auto">
            <img src="static/{{ item.image_sm }}">
        </div>
        <div class="col-sm-7 col-md-7 col-xs-12">
            </br>
            <h4>{{ item.title }}</h4>
            <p style="font-size:13px; color:#03225C;">{{ item.desc_sm }}</p>
        </div>
    </div>
    </div>
</div>