<!-- templates/store_cart.html -->
{% extends 'base.html' %}

{% block content %}
    </br>
    {% for item in cartlist %}
        {% include 'partials/cart.html' %}
    {% endfor %}
    <div class="col-sm-6 col-md-6 col-xs-12 offset-3">
        <div class="row" style="border:none; background:rgb(247, 255, 220);">
            <div class="col-sm-8 col-md-8 col-xs-12">
                <p style="font-size:13px; color:#03225C;"><strong><h2>TOTAL PRICE:  ${{ total }}</h2></strong></p>
            </div>
            <div class="col-sm-4 col-md-4 col-xs-12">
                <p><p><a href="/store_cart/purchase" class = "btn btn-primary btn-lg">Purchase</a>
                </p></p>
            </div>
        </div>
    </div>
{% endblock %}