<!-- templates/store_purchase.html -->
{% extends 'base.html' %}

{% block content %}
    </br>
    <div class="jumbotron" style="background-image: url(/static/delivery.png); background-size: cover">
        <div class="col-md-10 mx-10 offset-2">
            <p style="font-size:50px; color:rgb(230, 230, 230);">
                Your order has been processed
            </p>
            <p style="font-size:30px; color:rgb(230, 230, 230);">
                Thanks for shopping
            </p>    
            </br></br></br></br></br></br></br></br></br></br></br>
        </div>
    </div>
{% endblock %}